
<ion-view view-title="Video juegos">
  <ion-content class="padding">
   <div class="list card">
    	<div class="item">
        	<h2>Batman VS Super man</h2>
        	<img class="image-list-thumb" src="img/130492_medium.jpg">
        	<p>Reta por 3 dias HD</p>
        	<p>$100.00</p>
    	</div>
   	 
    	<div class="item">
        	<h2>Dead Pool</h2>
        	<img class="image-list-thumb" src="img/34497_4_large.jpg">
        	<p>Reta por 3 dias HD</p>
        	 <p>$80.00</p>
    	</div>
	</div>
	<div class="item">
        	<h2>Avenger2</h2>
        	<img class="image-list-thumb" src="img/avengers.png">
        	<p>Reta por 3 dias HD</p>
        	<p>$80.00</p>
    	</div>
	
	<div class="item" style="margin: 0 auto;">
	    
	
        	<h2>Star Wars</h2>
        	<img class="image-list-thumb" src="img/star.png">
        	<p>Reta por 3 dias HD</p>
        	<p>$80.00</p>
    	</div>
  </ion-content>
</ion-view>
