<ion-view view-title="Games">
  <ion-content class="padding">
  
  <div class="helo1">
            <br>
          
        	<img class="image-list-thumb" src="img/Call.png">
        	<p>Renta por 3 dias </p>
        	<p>Plataforma: 360, PS4 </p>
        	<p>$150.00</p>
  
      
     	<div class="helo2">
            <br>
        	<img class="image-list-thumb" src="img/fall.png">
        	<p>Reta por 3 dias </p>
        	<p>Plataforma: XBOX One PS4 PC</p>
        	<p>$150.00</p>
    	</div>
	</div>
	
	
	<div class="helo3">
        	<br>
        	<img class="image-list-thumb" src="img/gear.png">
        	<p>Reta por 3 dias </p>
        	<p>Plataforma: XBOX One </p>
        	<p>$150.00</p>
    	</div>
    	
    	
	
	<div class="helo4">
	  
	
        	<br>
        	<img class="image-list-thumb" src="img/halo.png">
        	<p>Reta por 3 dias</p>
        	<p>Plataforma: XBOX One</p>
        	<p>$80.00</p>
    	</div>
  </ion-content>
</ion-view>
