<ion-view view-title="Peliculas">
  <ion-content class="padding">
    

    	<div class="helo5">
        	<br>
        	<img class="image-list-thumb" src="img/130492_medium.jpg">
        	<p>Reta por 3 dias HD</p>
        	<p>$100.00</p>
    	</div>
   	 
    	<div class="helo6">
        	<br>
        	<img class="image-list-thumb" src="img/34497_4_large.jpg">
        	<p>Reta por 3 dias HD</p>
        	 <p>$80.00</p>
    	</div>
	
	<div class="helo7">
        	<br>
        	<img class="image-list-thumb" src="img/avengers.png">
        	<p>Reta por 3 dias HD</p>
        	<p>$80.00</p>
    	</div>
	
	<div class="helo8">
	    
	
        	<br>
        	<img class="image-list-thumb" src="img/star.png">
        	<p>Reta por 3 dias HD</p>
        	<p>$80.00</p>
    	</div>
	
	
    
  </ion-content>
</ion-view>
